.top {
  column-count: 2;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images img {
  width: 30%;
  padding: 0.5rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom p {
  width: 30%;
  padding: 0.5rem;
}